<ion-view view-title="Lista">
  <ion-content>
  <button class="button" ng-click="login()">Login</button>
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
