<ion-view view-title="Article">
  	<ion-content>
  	<ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
    </ion-refresher>
    	<div class="list card">
         <div class="item">
         <br>
         <br>
            <h2 class="post-title">{{hotel_selecionado.name}}</h2>
            <p>{{hotel_selecionado.address}}</p>
            <p>
            {{hotel_selecionado.email}}
            </p>
            <p>
            {{hotel_selecionado.locality}}
            </p>
            <p>
            {{hotel_selecionado.region}}
            </p>
         </div>
         <div class="item item-body">
         	<div class="list" ng-repeat="image in documentos" >
				<a href="#" class="item item-thumbnail-left">
					<img ng-src="data:image/jpeg;base64,{{image.bin}}">
					<h2>{{image.nome}}</h2>
					<p>{{image.data}}</p>
				</a>
			</div>	
			<div class="list" ng-repeat="image in infos" >
				<a href="#" class="item item-thumbnail-left">
					<img ng-src="images/logo_pqn.png">
					<h2> <i class="icon ion-ios-help"></i>{{image.nome}}</h2>
					<p>{{image.data}}</p>
				</a>
			</div>	
			<hr>
			<h2>Endereco</h2>
			<div class="list" ng-repeat="image in enderecos" >
					 <i class="icon ion-ios-help"></i>{{image.id}}</h2>
					<p>{{image.valor}}
				
			</div>	
            <div>
            
            
            </div>
         </div>
         <div class="item tabs tabs-secondary">
         	<div class="button-bar">
              <a class="button button-assertive active" ng-click="tap();">Tap para enviar essas infos</a>
              <a class="button button-assertive" ng-click="openModal();">Enviar Sms</a>
            </div>
         </div>
         <a ng-repeat="item in items" class="item item-avatar">
            <img ng-src="http://3.bp.blogspot.com/-PzPenQ-FGz0/VYGj9bPPbCI/AAAAAAAAA1w/0xw6K-h5bz0/s72-c/girl-785304_1280.jpg">
            <h2>Admin</h2>
            <p>{{item.comment}}</p>
         </a>
    	</div>
  </ion-content>
</ion-view>
<script id="comment-modal.html" type="text/ng-template">
<ion-modal-view class="grey_bg">
	<ion-nav-bar class="bar-assertive">
		<ion-nav-title>
			Add Comment
		</ion-nav-title>
		<ion-nav-buttons side="right">
      	<button class="button button-icon button-clear ion-close-round" ng-click="closeModal()">
        	</button>
    	</ion-nav-buttons>
	</ion-nav-bar>
	<ion-content class="has-header" padding="10">
      <div class="list">
			<label class="item item-input">
				<input ng-model="user.name" name="name" type="text" placeholder="Name">
			</label>
			<label class="item item-input">
				<input type="email" ng-model="user.email" name="email" placeholder="Email" value="">
			</label>
			<label class="item item-input">
				<textarea ng-model="user.details" name="details" placeholder="Comments"></textarea>
			</label>
			<button class="button button-block button-assertive">
				Add Comment
			</button>
      </div>
  </ion-content>
</ion-modal-view>