/* importing fonts */
@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-Italic.ttf");
  font-style:italic;
}

@font-face {
  font-family: "Open Sans";
  src: url("../font/SourceSansPro-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-LightItalic.ttf");
  font-weight: 300;
  font-style:italic;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../font/SourceSansPro-BoldItalic.ttf");
  font-weight: 600;
  font-style:italic;
}
/* basic css reset */
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .button, input, textarea { 
	font-family: 'Source Sans Pro', sans-serif; 
}
a { 
	text-decoration: none; 
}
img { 
	max-width: 100%; height:auto; 
}
.card { 
	margin:10px !important; 
}
.screen{
   position:relative;
 }
 .screen img{
   display: inherit;
 }
 .screen .item{
   position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  border: 0;
  background: rgba(255,255,255, 0.6);
 }
 .item-home{
 	padding:10px !important;
 }
 .screen h1{
 	color:#222;
	text-align:center;
 }
 /* Home feed page style */
 .item-home{
	 background-color: #f8f8f8;
    background-image: linear-gradient(0deg, #b2b2b2, #b2b2b2 50%, transparent 50%);
    background-size: 0 auto;
    border-color: #b2b2b2;
    border-style: solid;
    border-top: 1px solid #b2b2b2;
	  background-color: #ef473a;
    background-image: linear-gradient(0deg, #e42012, #e42012 50%, transparent 50%);
    border-color: #e42012;
    color: #fff;
 }
 .item-home .icon{
	 color:#fff;
 }
 .item-home h2{
	 color:#fff;
 }
 .grey_bg{
 	background:#fff;
 }
 /* logo styles */
.form_logo {
    margin: 30px 0;
    opacity: 0.5;
    text-align: center;
    width: 100%;
}
.form_logo img {
    display: inline-block;
    margin: auto;
    max-width: 50%;
}
.nav-logo{
	height:32px;
}
/* gallery styles */
.gallery-small{
	padding:0 !important;
	border:none !important;
}
.gallery-top{
	padding-top:5px !important;
}
/*full screen images*/
.transparent {
  background: #222 !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}
/* video container */

.video-container {
	 height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 30px;
    position: relative;
}
.video-container iframe {
	height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.post-content-home{
	margin-bottom:44px;
}
/* profile page */
#content {
   background-color: #fff;
   box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.4);
   position: relative;
	height:260px;
}

#profile-info {
 	box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    padding-bottom: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;
	 background-image:url(http://1.bp.blogspot.com/-IMsTheNxIqo/VYGjyM2hLiI/AAAAAAAAA1g/ZQO2uRgQSU4/s800/cappadocia-805624_1280.jpg);
	 background-repeat:no-repeat;
	
}
#profile-name {
  color: #444;
  font-size: 26px;
}
#profile-description {
  font-size: 15px;
  color: #fff;
}
#profile-description a {
  color: #fff;
}

#profile-image {
  display: block;
  border-radius: 100px;
  border: 1px solid #fff;
  width: 128px;
  height: 128px;
  margin: 30px auto 0;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}
/* sidebar profile and image */
.main-sidebar-profile {
   background-color: #fff;
   box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.4);
   position: relative;
	height:200px;
}

.profile-info {
 	box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    padding-bottom: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 2;
	 background-image:url(http://1.bp.blogspot.com/-IMsTheNxIqo/VYGjyM2hLiI/AAAAAAAAA1g/ZQO2uRgQSU4/s350-h300-c/cappadocia-805624_1280.jpg);
	 background-repeat:no-repeat;
	
}
.profile-name {
  color: #fff;
  font-size: 26px;
  margin-top:20px;
}
.profile-image {
  display: block;
  border-radius: 100px;
  border: 1px solid #fff;
  width: 100px;
  height: 100px;
  margin: 30px auto 0;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}
/* style slider */
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #fff;
  text-align: center;
  font-weight: 300;
}

#logo {
  margin: 30px 0px;
}
.slider p{
	margin-bottom:60px;
}
c
.message {
  font-size: 14px;
  
}

.message-detail {
  white-space: nowrap;
  font-size: 14px;
}

.message-wrapper {
  position: relative;
}
.disable-user-behavior {
    -moz-user-select: none;
}
.message-wrapper:last-child {
  margin-bottom: 10px;
}

.chat-bubble {
  border-radius: 5px;
  display: inline-block;
  padding: 4px 8px;
  position: relative;
  margin: 10px;
  max-width: 80%;
  min-width: 60%;
}


.chat-bubble.left {
  background-color: #e6e5eb;
  float: left;
  text-align: left;
}
.chat-bubble a{
	text-decoration:underline;
}
.chat-bubble.right a{
	text-decoration:underline;
	color:#fff !important;
}
.chat-bubble.right {
  background-color: #ef473a;
  color: #fff;
  float: right;
  margin-right: 10px;
  text-align: right;
}

.chat-bubble.right a.autolinker {
  color: #fff;
  font-weight: bold;
}
img.profile-pic.left {
    left: -45px;
}
img.profile-pic {
    bottom: 10px;
    height: 40px;
    position: absolute;
    width: 40px;
}
.post-content-message{
	margin-bottom:58px;
}
.comment-stable-main {
    height: 48px;
}
.comment-form-main {
    margin: 0;
    padding: 0;
    width: 100%;
}
.row-comment {
    margin: 0 5px;
    padding: 0;
}
.small-font {
    font-size: 13px;
}
.comment-div-label {
    margin: 0 10px 0 0;
}
.comment-main-text {
    height: 22px;
}
.button-comment {
    margin-bottom: 0 !important;
    margin-left: 0 !important;
    margin-right: 0;
    margin-top: 0 !important;
    width: 90% !important;
}
.post-wp img{
	max-width:100%;
	height:auto;
	margin:0px !important;
}
.post-wp iframe{
	width:100%;
	height:350px;
}
/* style products */
.product-section{
  margin:0 !important;
  width: 50%;
  float: left;
  padding: 10px;
}
.product-section .item-body{
  padding: 10px 0;
}
.product-section .item-body h2{
  margin-top:0px;
}
.big-price{
  font-size: 16px !important;
  font-weight: bold;
}